{% load static %}

{% block content %}
<!-- Navbar de la pagina -->
{% include 'adminAPP/panel-nav-bar.html' %}

<title>Registro de Hoteles</title>
<style>
    body {
        overflow-y: visible; /* Mostrar barra de desplazamiento vertical */
        overflow-x: hidden; /* Ocultar barra de desplazamiento horizontal */
        background-color: #2d3250;
    }

    /* Colores personalizados */
    .bg-dark-blue {
        background-color: #2d3250;
    }

    .bg-light-blue {
        background-color: #424769;
    }

    .text-white {
        color: #ffffff;
    }

    .text-light-blue {
        color: #b6b9cd;
    }

    .contenido {
        margin-right: 5vw;
        margin-left: 5vw;
    }

    @media (min-width: 992px) {
        .contenido {
            margin-right: 25vh;
            margin-left: 25vh;
        }
    }

    .form-container {
        background-color: #424769;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin-top: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-label {
        color: #b6b9cd;
        display: block;
        margin-bottom: 5px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #2d3250;
        color: #ffffff;
    }

    .form-control:focus {
        outline: 2px solid #f9b37a;
    }

    .btn-submit {
        background-color: #f9b37a;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn-submit:hover {
        background-color: #e09b63;
    }
</style>


<div class="contenido">
    <div class="form-container">
        <h2 class="text-white">Registro Hoteles</h2>
        <form>
            <div class="form-group">
                <label for="id" class="form-label">ID:</label>
                
            </div>
            <div class="form-group">
                <label for="nomhotel" class="form-label">Nombre Hotel</label>
                <input type="text" id="nomhotel" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="direccion" class="form-label">Dirección</label>
                <input type="text" id="direccion" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="nomcliente" class="form-label">Nombre Cliente</label>
                <input type="text" id="nomcliente" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="contacto" class="form-label">Número de Contacto</label>
                <input type="contacto" id="contacto" class="form-control" required>
            </div>
            <center>
            <button type="submit" class="btn-submit">Guardar</button>
        </form>
    </div>
</div>


{% include 'index.html' %}
{% endblock %}