{% load static %}
{% block content %}

<!-- Navbar principal -->
{% include 'adminAPP/panel-nav-bar.html' %}

<!-- Contenido principal -->
<title>Panel Hoteles</title>
<div class="container">
    <div class="extra-bar d-flex flex-column flex-md-row justify-content-between align-items-center py-2">
        <div class="d-flex justify-content-evenly w-100 w-md-25 mb-2 mb-md-0">
            {% if user.rol == 'superadmin'%}
                <a href="organizaciones" class="btn btn-custom-panel mx-1">Org</a>
                <a href="clientes" class="btn btn-custom-panel mx-1">Clientes</a>
                <a href="hoteles" class="btn btn-custom-panel mx-1">Hoteles</a>
                <a href="usuarios" class="btn btn-custom-panel mx-1">Usuarios</a>
            {% else %}
                <a href="hoteles" class="btn btn-custom-panel mx-1">Hoteles</a>
                <a href="usuarios" class="btn btn-custom-panel mx-1">Usuarios</a>
            {% endif %}
        </div>

        <div class="search-bar w-100 w-md-50">
            <form method="get" action="{% url 'hoteles' %}" class="input-group">
                <input type="text" name="search" class="form-control search-input" placeholder="Buscar..." aria-label="Buscar" value="{{ query }}">
                <button type="submit" class="input-group-text">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>

    </div>
</div>
<div class="container">
    {% if not user.rol == 'superadmin' %}
        <p class="text-white">Mostrando Hoteles de la Organizacion: {{ user.organizacion }}</p>
    {% endif %}
    <div class="container my-4">
        <div class="card-container">
            <!-- Tarjeta de Añadir -->
            <div class="add-card">
                <a href="{% url 'crear_hotel' %}" class="text-decoration-none text-dark text-center">
                    <div class="add-icon">+</div>
                    <p>Añadir</p>
                </a>
            </div>
            <!-- Tarjetas de usuario -->
            {% for hotel in hoteles %}
            <div class="card-custom hotel-card {% if not cliente.activo %}inactivo{% endif %}">
                <img src="{% static 'usuarioAPP/imagenes/logo.png'  %}" alt="profile" class="card-img-top rounded-circle mx-auto d-block mt-3">
                <div class="card-body">
                    
                    <p class="card-text">Nombre: {{ hotel.nombre }}</p>
                    <p class="card-text">Correo: {{ hotel.correo }}</p>
                    <p class="card-text">Teléfono: {{ hotel.telefono }}</p>
                    <h6 class="card-title">ID: {{ hotel.id }}</h6>
                    <br>
                    <a href="{% url 'editar_hotel' hotel.id %}" class="btn btn-primary edit-btn">
                        <i class="bi bi-pencil-fill"></i> Editar
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
<br>
<br>
<br>
{% include 'index.html' %}
{% endblock %}
