{% extends "index.html" %}
<!-- Extiende la plantilla base "index.html" para heredar su estructura general y estilos -->

{% load static %}
<!-- Carga la etiqueta "static" para poder acceder a archivos estáticos como imágenes, CSS y JavaScript -->

<!-- Bloque de contenido -->
{% block content %}
<!-- Inicio del bloque de contenido llamado "content", donde se insertará contenido específico en esta plantilla -->

    <!-- Incluir la navbar en la plantilla -->
    {% include 'usuarioAPP/homepage/navbar.html' %}
    <!-- Incluye la barra de navegación (navbar) desde el archivo especificado, que se encuentra en "usuarioAPP/homepage/navbar.html" -->








    