{% include 'adminAPP/panel-nav-bar.html' %}
{% block content %}
<div class="container mt-5">
    <div class="card mx-auto" style="max-width: 600px; background-color: #2a2d43; border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
        <div class="card-header text-center" style="background-color: #1f2235; color: #f8f9fa;">
            <h4>Crear Hotel</h4>
        </div>
        <div class="card-body" style="color: #f8f9fa;">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_nombre" class="form-label">Nombre:</label>
                    <input type="text" name="nombre" class="form-control" style="background-color: #1f2235; color: #f8f9fa; border: 1px solid #f8f9fa;">
                </div>
                <div class="mb-3">
                    <label for="id_direccion" class="form-label">Dirección:</label>
                    <input type="text" name="direccion" class="form-control" style="background-color: #1f2235; color: #f8f9fa; border: 1px solid #f8f9fa;">
                </div>
                <div class="mb-3">
                    <label for="id_telefono" class="form-label">Teléfono:</label>
                    <input type="text" name="telefono" class="form-control" style="background-color: #1f2235; color: #f8f9fa; border: 1px solid #f8f9fa;">
                </div>
                <div class="mb-3">
                    <label for="id_correo" class="form-label">Correo:</label>
                    <input type="email" name="correo" class="form-control" style="background-color: #1f2235; color: #f8f9fa; border: 1px solid #f8f9fa;">
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn" style="background-color: #f78e69; color: #ffffff; border: none;">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% include 'index.html' %}
